<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font nav-link text-cream mx-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?category=errigal" class="dropdown-item ">Errigal</a>
                <a href="{% url 'products' %}?category=eske" class="dropdown-item ">Eske</a>
                <a href="{% url 'products' %}" class="dropdown-item"> All Products</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="logo-font nav-link text-cream mx-5" href="{% url 'blog' %}" id="blog-link">Blog</a>
        </li>
        <li class="nav-item">
            <a class="logo-font nav-link text-cream mx-5" href="" id="about-link">About Us</a>
        </li>
    </ul>
</div>