{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="overlay"></div>  
<div class="container about-container">
    <div class="row">
        <div class="col-12">
            <h2 class="about-header header-text "> A hobby born out of lockdown </h2>
            <p class="gym-para pb-3">Hugs for Shrubs are sustainably-made macramé plant hangers using 100% recycled cotton rope and materials from local suppliers.
                As the business was born in Donegal, the plant hangers are all inspired by the local landscapes and colours. There are two styles of plant hangers: 
                Errigal and Eske named after two of Donegal’s most scenic spots. The perfect gift idea for those with green fingers or anyone looking for Donegal-inspired decor!
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="gym-header header-text">Why Hug for Shrubs?</h2>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-12 col-md-6 col-lg-4 feature">
            <i class=" about-icon fas fa-solid fa-recycle"></i>
            <h3 class="gym-header">Sustainable Packaging</h3>
            <p class="gym-para">
                100% biodegradable/recyclable packaging with a handwritten note perfect for personalised gift orders!
            </p>
        </div>
        <div class="col-12 col-md-6 col-lg-4 feature">
            <i class=" about-icon fas fa-solid fa-image"></i>
            <h3 class="gym-header">Donegal Designs</h3>
            <p class="gym-para">
                Inspired by the gorgeous local landscapes of Donegal: Lough Eske and Mount Errigal.
            </p>
        </div>
        <div class="col-12 col-md-6 col-lg-4 feature">
            <i class="about-icon fas fa-wallet gym-icon"></i>
            <h3 class="gym-header">Support local</h3>
            <p class="gym-para">
                Using 100% sourced Irish materials, you're supporting not just my business but also my suppliers.
            </p>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-12 col-md-6 orla-about-img"></div>
        <div class="col-12 col-md-6">
            <h2 class="gym-header text-uppercase header-text">Meet the Maker</h2>
            <p class="gym-para">My name is Orla & I developed Hugs for Shrubs from a lockdown hobby into a small business in May 2021. 
                Inspired by the local landscapes and colours where 
                I spent many a lockdown walk, I'm delighted to showcase my crafts with you. You'll find Hugs for Shrubs plant hangers online, 
                in selected shops in Donegal Town and I regularly attend markets in Dublin. Follow on Instagram for more updates!
                </p>
        </div>
    </div>
    <div class="row bg-col my-5">
        <div class="col-12">
            <h2 class="gym-header header-text">Errigal</h2>
            <p class="gym-para">Named after majestic Mount Errigal in Co. Donegal on Ireland’s 
                Wild Atlantic Way this long plant hanger with beautiful beads will make your plant take centre stage. 
                Inspired by lockdown walks, Errigal brings the beauty of outdoors to your plant indoors.</p>
            <a href="{% url 'products' %}?category=errigal" rel="noopener" class="shop-now-button btn btn-lg rounded-pill py-3">Shop Errigal now!</a>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-12">
            <h2 class="gym-header header-text">Eske</h2>
            <p class="gym-para">Named after local favourite Lough Eske in Co. Donegal on Ireland’s Wild Atlantic Way, this hanger 
                flows beautifully with its tassels and is sure to bring out your plant’s colourful personality. Inspired by lockdown walks, 
                Eske brings the beauty of outdoors to your plant indoors.</p>
                <a href="{% url 'products' %}?category=eske" rel="noopener" class="shop-now-button btn btn-lg rounded-pill py-3">Shop Eske now!</a>
        </div>
    </div>
</div>
{% endblock %}